@page
@model OnlineFashionStore.Pages.Wishlists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wishlist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Product.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Wishlist.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
